.App{
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  background-color: #E9E9E9;
}

/* HEADER STYLING ================================ */
.header-container{
  width: 100%;
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding-left: 16px; 
  padding-right: 16px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
}

.header-content-wrapper{
grid-column: 1/ -1;
display: flex;
align-items: flex-end;
justify-content: flex-end;
}

.nav-link,
.cart-button{
  display: none;
}

.utility-icon {
  display: flex;
  cursor: pointer;
}

/* HERO STYLING ====================== */
.Hero {
  padding-top: 40px; /* account for fixed header */
  min-height: 100vh;
  width: 100%;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.hero-inner {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


.Hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-image: url('../public/image/HERO 1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* TOP CONTENT */
.hero-Topcontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.hero-icon1 {
  grid-column: 1 / span 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.hero-icon2 {
  grid-column: 2 / span 2;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0.5;
}

.hero-icon1,
.hero-icon2{ justify-self: start; }

.hero-icons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.hero-icons img {
  height: 28px;
  min-height: 14px;
  width: auto;
}

.hero-top-row {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: clamp(16px, 4vw, 40px);
  }

.hero-title {
  grid-column: 1 / -1;
  font-family: 'Inter';
  font-weight: 750;
  font-size: clamp(48px,7vw,75px);
  line-height: 84%;
  color: white;
  margin: 24px 0 0;
  letter-spacing: -4%;
  margin-top: auto;
  margin-bottom: 32px;
}

.hero-inner img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* BOTTOM CONTENT */
.hero-Bottomcontent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
  align-items: center;
}

.bottomLeft {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-shrink: 0;
  align-items: flex-start;
}

.bottomLeft div:first-child {
  flex-shrink: 0; /* Prevents the text from pushing this container to 0 width */
  display: flex;
  align-items: flex-start;
  padding-top: 4px; /* Optional: aligns icon visually with the first line of text */
}

.bottomLeft img{
  width: 16px;  /* Set a fixed width */
  height: 16px; /* Set a fixed height */
  display: block;
  object-fit: contain;
}

.hero-copy {
  color: white;
  font-family: 'Roboto Mono';
  font-size: 16px;
  line-height: 1.3;
}

.bottomRight {
  display: flex; /* hide scroll hint on mobile */
  align-items: center;
}

/* ====mobile menu====== */
.mobileMenu{
  position: fixed;
  inset: 0;
  background-color: #f2f2f2;
  z-index: 2000;
}

.closeButton{
  position: absolute;
  top: 24px;
  right: 16px;
}

.closeButton button{
   border: none;
}

.menuCenter{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
}

.nav-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-mobile a{
  text-decoration: none;
  font: Roboto;
  font-size: 36px;
  font-weight: bold;
  color: black;
  letter-spacing: -3%;
  line-height: 156%;
}

.cart-button-mobile{
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  border: 2px solid #000;
}

/* =========== ABOUT ========== */
.About{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  gap: 32px;
  grid-column: 1 / -1;
}

.aboutContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 56px;
}

.aboutBody{
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.aboutLable{
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.aboutTitle{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 48px;
  line-height: 84%;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.navButton{
  display: flex;
  gap: 18px;
  justify-content: flex-end;
}

.arrowButton{
  background: #FFFEFE;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

/* ==============PRODUCT CARD============== */
.productList{
  gap: 32px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch; 
  touch-action: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.productCard{
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 0 0 auto;
  width: 310px;
  scroll-snap-type: x mandatory;
  border-radius: 4px;
  scroll-snap-align: start;
}

.imagenCart{
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.productImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.plusButton{
  position: absolute;
  top: 0px;
  right: 0px;
  background: #FFFEFE;
  padding: 6px;
  border-radius: 4px;
  border: none;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  border-radius: 4px;
}

.quantity{
  font-family: 'Inter';
  font-weight: bolder;
  font-size: 26px;
}
.counterButtons{
  background: #FFFEFE;
  
  border: none;
}

.productCategory{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #747474;
}

.NamenPrice{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nameNpriceFont{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
}

.productCategory,
.nameNpriceFont,
.NamenPrice p {
  margin: 0;
}

/* ======FOOTER======= */
.Footer{
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  background-color: #91A381;
  margin-left: -16px;
  margin-right: -16px;
  padding-bottom: 40px;
  gap: 32px;
}

.FooterImageContainer{
  position: relative;
  height: 582px;
  width: 100%;
}

.FooterImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FooterImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 10% center;
}

.contact{
  display: flex;
  position: static;
  margin-left: 16px;
  gap: 40px;
  align-items: center;
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.footerText{
  font-family: 'Inter';
  font-weight: bolder;
  line-height: 0.9;
  letter-spacing: -4%;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  margin-left: 16px;
  margin-right: 16px;
}

.socialLinks{
  margin-left: 16px;
  margin-right: 16px;
  color: white;
}

.socialText{
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 12px;
}

.List{
  display: flex;
  flex-direction: column;
}

.oneBlock{
  display: flex;
  flex-direction: column;
}
.nameNarrow{
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-size: 18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.divider{
  width: 100%;
  height: 1.5px;
  background-color: white;
}

.form{
  padding-left: 16px;
  padding-right: 16px;
}

.glassBox{
  display: flex;
  flex-direction: column;
  gap: 36px;
  border-radius: 4px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid #fff;
}

.fieldNsubmit{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.field1{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.field1 label{
  font-size: 16px;
}
.fieldBox{
  color: #666666;
  background-color: #fff;
  width: 100%;
  padding: 18px;
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  font-family: 'Roboto Mono';
}

.submitButton{
  width: fit-content;
  font-family: 'Roboto Mono';
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}

.errorText{
  color: #eb7676;
  font-size: 11px;
  font-family: 'Roboto Mono';
  font-weight: 500;
  margin-top: 4px;
}

.successMessage{
  background-color: #ffffff33; /* Semi-transparent white */
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 14px;
  margin-top: 20px
}

.fieldBox.error {
  border: 1px solid #ffcfcf;
}

/* =====ANIMATION======= */
.fade-up {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-copy{
    font-size: 24px;
  }
  .About {
    grid-column: 1 / -1; 
  }
  
}

@media (min-width: 1025px) {
 .App{
  padding-left: 28px;
  padding-right: 28px;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 14px;
}

.header-container{
  padding-left: 28px; 
  padding-right: 28px;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 14px;
}

.header-content-wrapper{
grid-column: 11/ span 2;
display: flex;
align-items: flex-start;
justify-content: space-between;
}

.nav-link{
gap:10px;
display: flex;
flex-direction: column;
}

.nav-link a{
  text-decoration: none;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
}

.cart-button{
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 15px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: bold;
}

.utility-icon {
    display: none;
  }

  /* HERO */
   .Hero::before {
    background-size: cover;
    background-position: center;
  }

  .hero-Topcontent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 14px;
    grid-column: 1 / span 3;
    display: block; 
  }

  .hero-top-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 14px;
    align-items: flex-start;
    width: 100%;
    gap: 48px;
  }

  .hero-title {
    grid-column: 4 / span 6;
    line-height: 0.84;
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-icons {
    grid-column: 1 / span 3;
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  .hero-icons img {
    height: auto;
    width: 100%;
  }

  .hero-icon1 {
    grid-column: 1 / span 1;
  }

  .hero-icon2 {
    grid-column: 2 / span 2;
  }

  .hero-Bottomcontent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 14px;
    margin-bottom: 70px;
  
  }

  .bottomLeft {
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-end;
  }

  .hero-copy {
    grid-column: 2 / span 8;
    font-size: 16px;
  }

  .bottomRight {
    display: flex;
    grid-column: 11 / span 2;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;
  }

  /* ========== ABOUT ========== */
  .About{
    grid-column: 1/ -1;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 14px;
    align-items: start;
    row-gap: 64px;
  }

  .aboutLable{
    grid-column: 1/ span 1;
  }
  .aboutTitle{
    grid-column: 4/ span 4;
  }
  .aboutBody{
    grid-column: 9/ span 4;
  }

.aboutTitle,
.aboutBody {
  align-self: end;
}

.navButton{
  grid-column: 1/ span 1;
  grid-row: 3;
  align-self: end;
  padding-bottom: 56px;
}

  /* ==============PRODUCT CARD============== */
  .productSection{
    grid-column: 4/ span 9;
    margin-top: 0;
    grid-row: 3;
    align-self: end;
  }

  /* =========FOOTER=========== */
  .Footer{
  margin-left: -28px;
  margin-right: -28px;
  background-color: transparent;
  background-image: url("C:\Users\Dhara Gupta\OneDrive\Desktop\Port\specs\code\specs\public\image\Footer img.svg");
  background-size: cover;
  
  background-position: top center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 14px;
  padding-top: 42px;

  position: relative;
  padding: 80px 40px;
  }

  .contact{
    position: absolute;
    top: 40px;
    margin-left: 28px;
    z-index: 2;
    gap: 4px;
  }

  .FooterImageContainer{
    display: none;
  }

  .footerText{
    grid-column: 7/ span 5;
    margin-top: 40px;
  }
  
  .form{
    grid-column: 2/ span 4;
    grid-row: 2;
  }

  .socialLinks{
    grid-column: 9/ span 3;
    grid-row: 2;
    margin-top: 40px;
  }

  .footerText{
    font-size: 60px;
    line-height: 84.%;
    font-weight: 800;
  }

  .socialText{
    font-size: 16px;
  }
}